ai-agent-project/venv/*
ai-multi-agent/obj/*
ai-multi-agent/bin/*
ai-multi-agent/appsettings.development.json
ai-agent-project/src/services/__pycache__/azure_agent_service.cpython-312.pyc
ai-agent-project/.env
ai-multi-agent/.evn

jupyter-nootebooks/.env
autoGen/.env
ai-document-inteligence/.env
ai-document-inteligence/db/*
ai-document-inteligence/files/*
ai-document-inteligence/share/*
ai-document-inteligence/output/*