ai-agent-project/venv/*
ai-multi-agent/obj/*
ai-multi-agent/bin/*
ai-multi-agent/appsettings.development.json
ai-agent-project/src/services/__pycache__/azure_agent_service.cpython-312.pyc
ai-agent-project/.env
jupyter-nootebooks/.env
autoGen/.env
